.box {
  position: relative;
  .arrow {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: var(--bg-primary);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    opacity: .7;
    transition: opacity .3s;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      opacity: 1;
    }
    &.left {
      left: 0;
      > svg {
        transform: rotate(180deg);
      }
    }

    &.right {
      right: 0;
    }
  }
}
.wrapper {
  padding: 8px 0px 8px 8px;
  overflow-x: hidden;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  background-color: var(--bg-secondary);

  &.hide {
    display: none;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  > div {
    margin-right: 8px;
  }
}