@import '@sport/components/WorldCupModule/style/variable' ;

$voteAreaHeight: 34px;

@mixin voteArea($width: 100px) {
  display: flex;
  justify-content: center;
  .voteBtn {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: $width;
    > div {
      height: 20px;
      padding: 0 12px;        
      background-color: $primaryColor;
      color: #fff;
      font-size: 10px;
      border-radius: 10px;
      line-height: 20px;
      position: relative;
      &.left {
        transform: translateX(-50%);
      }
      &.right {
        transform: translateX(50%);
      }

      &.close {
        background-color: #999;
        pointer-events: none;
      }
    }
  }

  .gameResult {
    height: 20px;
    padding: 0 12px;        
    background-color: $primaryColor;
    color: #fff;
    font-size: 10px;
    border-radius: 10px;
    line-height: 20px;
  }

  .voteResult {
    width: $width;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    .percent {
      font-size: 10px;
      color: #333;
      position: absolute;
      top: 50%;
      &.left {
        left: -5px;
        transform: translate(-100%, -50%);
      }
      &.right {
        right: -5px;
        transform: translate(100%, -50%);
      }
      &.active {
        color: $primaryColor;
      }
    }
    .progressBar {
      width: 100%;
      height: 6px;
      background-color: #ccc;
      border-radius: 5px;
      display: flex;
      overflow: hidden;
      .left {
        background-color: $primaryColor;
        height: 100%;
      }
      .right {
        background-color: #FFB500;
        height: 100%;
        flex: 1;
      }
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  > div:nth-of-type(2) {
    flex: 1;
  }
}

.modalOne {
  height: 112px;
  background-color: $bgWhite;
  margin-bottom: 8px;
}

.modalTwo {
  height: 104px;
  box-shadow: $cardBoxShadow;
  border-radius: 10px;
  overflow: hidden;
  &:not(:last-of-type) {
    margin-bottom: 12px;
  }
  &.hasVote {
    height: calc( 104px + $voteAreaHeight );
    .vote {
      padding-top: 4px;
      padding-bottom: 10px;
      height: $voteAreaHeight;
      @include voteArea(140px);
    }
  }
}

.modalThree {
  height: 66px;
  border-radius: 10px;
  box-shadow: $cardBoxShadow;
  overflow: hidden;
  &.hasVote {
    height: calc( 66px + $voteAreaHeight );
    .vote {
      padding-top: 4px;
      padding-bottom: 10px;
      height: $voteAreaHeight;
      @include voteArea(120px);
    }
  }
}

.modalFour {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: $cardBoxShadow;
  overflow: hidden;
  &.hasVote {
    .vote {
      padding-top: 4px;
      padding-bottom: 10px;
      height: $voteAreaHeight;
      @include voteArea(110px);

      &.last {
        @include voteArea(135px);
        &.champion {
          height: 50px;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          &.bgWhite {
            background-color: #fff;
          }
        }
      }
    }
  }
}

.footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  > img {
    width: 55px;
  }
}
