@import '@sport/components/WorldCupModule/style/variable' ;

.inplayHeader {
  margin-left: 5px;
  font-size: 14px;
  color: #333;
  .stoppageTime{
    margin-left: 5px;
    color: #4C9EEA;
  }
}

.modalOne {
  background-color: $bgWhite;
  height: 40px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  .left {
    display: flex;
    align-items: center ;
    .date {
      margin-left: 10px;
      color: #333;
      font-size: 14px;
    }
  }
  .right {
    padding: 0 5px;
    border-radius: 5px;
    background-color: #eee;
    font-size: 12px;
    color: #333;
  }
  &.inplay {
    border-bottom: 1px solid $primaryColor;
    .left {
      .date {
        color: $primaryColor;
      }
    }
    .right {
      background-color: $primaryColor;
      color: #fff;
    }
  }
  &.end {
    .right {
      color: #999;
    }
  }
}

.modalTwo {
  height: 24px;
  border-radius: 10px 10px 0 0 ;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  position: relative;

  > div {
    &:not(:last-of-type) {
      margin-right: 5px;
    }
  }

  &:not(.inplay),
  &:not(.end){
    background-color: #eee;
    color: #333
  }
  &.inplay {
    color: #fff;
    background-color: $primaryColor;
  }

  &.end {
    color: #999;
  }

  .inplayHeader {
    color: #fff;
    font-size: 12px;
    .stoppageTime {
      color: #9BECFF;
    }
  }
  .fav {
    position: absolute;
    right: 10px;
  }
}

.modalThree {
  height: 20px;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 12px 0;
  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
      margin-right: 5px;
    }
  }
  &.inplay {
    color: $primaryColor
  }
  .inplayHeader {
    font-size: 12px;
  }
}

.modalFour {
  height: 30px;
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  color: #333;
  position: relative;
  > img {
    width: 20px;
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  > div {
    &:not(:first-of-type) {
      margin-left: 5px;
    }
  }

  &:not(.inplay),
  &:not(.end){
    background-color: #eee;
    color: #333
  }
  &.inplay {
    color: #fff;
    background-color: $primaryColor;
  }

  &.end {
    color: #999;
  }

  .inplayHeader {
    color: #fff;
    .stoppageTime {
      color: #9BECFF;
    }
  }
}