.box {
  width: 100%;
  position: relative;
  height: 0;
  padding-top: calc( 100% * (205 / 375));
  background-color: #4C9EEA;
}

.wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  > img {
    width: 100%;
  }
}