@import '@sport/components/WorldCupModule/style/variable' ;

.list {
  .unit {
    .header {
      background-color: $bgWhite;
      height: 40px;
      padding: 0 12px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ddd;
      > svg {
        margin-right: 10px;
      }
    }
    .content {
      padding: 15px;
    }
  }
  .nav {
    position: fixed;
    right: 0;
    bottom: 50px;
    background-color: $bgWhite;
    z-index: 4;
    border-radius: 20px 0 0 20px;
    box-shadow: 4px 4px 16px 0 rgba(51,51,51,0.2);
    font-size: 10px;
    .collapse {
      width: 45px;
      padding: 15px 0;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      > div {
        text-align: center;
        &:not(:last-of-type) {
          margin-bottom: 15px;
        }
        &.active {
          color: $primaryColor;
          position: relative;
          &::after {
            content: '';
            display: block;
            position: absolute;
            width: 2px;
            height: 8px;
            background-color: $primaryColor;
            top: 0;
            bottom: 0;
            margin: auto;
            left: 0;
          }
        }
      }
    }
    .unCollapse {
      width: 45px;
      height: 45px;
      align-items: center;
      justify-content: center;
      display: flex;
      color: $primaryColor;
    }
  }
  .mask {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
  }

  &.event {
    .unit {
      .content {
        padding: 15px 10px;
      }
    }

    .navBox {
      padding: 15px 20px 0;
      .NavGroup {
        display: flex;
        align-items: center;
        justify-content: space-between;
        > div {
          width: 32px;
          height: 32px;
          background-color: #fff;
          font-size: 14px;
          color: 999;
          border-radius: 50%;
          box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
          display: flex;
          align-items: center;
          justify-content: center;

          &.active {
            color: #fff;
            box-shadow: none;
            background-color: var(--primary-base);
          }
        }
      }
      .currentGroup {
        margin-top: 15px;
        padding: 20px 0;
        min-height: 50px;
        border-radius: 8px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
        display: flex;
        flex-direction: column;
        .unit {
          display: flex;
          align-items: center;
          padding-left: 30%;
          .name {
            color: #333333;
            font-size: 12px;
            margin-left: 25px;
            flex: 1;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
        }
      }
    }
  }
}
