.container {
  height: 44px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  overflow-x: auto;

  .ballType {
    min-width: 72px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 14px;
    border: 1px solid var(--color-basic-disabled);
    white-space: nowrap;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    > img {
      width: 16px;
      height: 16px;
    }

    > span {
      margin-left: 6px;
    }

    &.active {
      font-weight: 600;
      background-color: var(--primary-base);
      border-color: var(--primary-base);
      color: var(--color-white);
      > svg path {
        fill: var(--color-white);
      }
    }
  }

  > div + div {
    margin-left: 10px;
  }
}