@import 'src/components/WorldCupModule/style/variable' ;

.circle {
  border-radius: 50%;
  margin: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  position: relative;
  background-color: $bgWhite;
  &.win {
    border: 1px solid $primaryColor;
    > svg {
      position: absolute;
      top: 0;
      right:0;
      z-index: 1;
    }
  }

  .imgBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $bgWhite;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    > img {
      max-width: initial;
      height: 100%;
    }
  }
}

.rect {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: $bgWhite;
  &.win {
    > svg {
      position: absolute;
      top: 0;
      right:0;
      z-index: 1;
    }
  }
  padding: 0 5px;
  > img {
    max-width: initial;
    height: 100%;
  }
}