
.wrapper {
  width: 246px;
  height: 66px;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: 0.5s all;
  position: relative;
  .img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
  &.virtual {
    opacity: 0.5;
    margin-right: -211px;
    transition: 0.5s all;
  }
  &.reality {
    transition: 0.5s all;
    margin-right: -184px;
  }
  &.open {
    transition: 0.5s all;
    margin-right: 0;
  }
  .content {
    position: relative;
    z-index: 2;
    width: 160px;
    height: 100%;
    display: flex;
    justify-content: space-between;

    .item {
      font-size: 12px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      word-break: break-all;
      &:last-child {
        margin-left: 4px;
      }
    }
  }
}
