.container {
  width: 100%;
  height: 56px;
  // background-color: #ccc;
  padding: 0 10px;
  display: flex;
  align-items: center;

  .search {
    flex: 1;
    border-radius: 22px;
    height: 38px;
    border: 0.5px solid #BBBBBB;
    display: flex;
    align-items: stretch;
    padding: 0 10px;

    .icon {
      display: flex;
      align-items: center;
      > svg path {
        fill-opacity: 1;
        fill: rgab(60, 60, 67, 1);
      }
    }

    input {
      border: none;
      width: 100%;
      margin: 0 5px;
      font-size: 14px;
      &:focus {
        outline: none;
      }
    }
  }
}