.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: inherit;
  background-color: var(--bg-black);
  color: var(--text-white);
  font-size: 14px;
  justify-content: center;
  align-items: center;
  .content {
    text-align: center;
  }
  .subContent {
    display: flex;
    flex-direction: row;
    min-width: 70%;
    justify-content: center;
    .col {
      display: flex;
      flex: 1 0;
      padding-top: 30px;
      justify-content: center;
    }
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      background-color: var(--primary-base);
      cursor: pointer;
    }
    &.narrow {
      min-width: 60%;
    }
  }
}