@import '@sport/components/WorldCupModule/style/variable';

.wrapper {
  height: 30px;
  color: $primaryColor;
  font-size: 12px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-primary);
  border-radius: 15px;

  > svg {
    margin-left: 5px;
    path {
      fill: $primaryColor !important;
    }
  }
}
