@mixin ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

$bg-color: #f2f2f2;

.container {
  background-color: $bg-color;
  padding-top: 10px;
}

.main {
  height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 15px;

  .board {
    width: 140px;
    display: flex;
    flex-flow: column;
    align-items: center;
    .total {
      display: flex;
      align-items: center;
      .versus {
        font-size: 18px;
        margin: 0 10px;
      }
      .score {
        width: 60px;
        font-size: 30px;
        line-height: 30px;
        font-weight: 600;
        color: #4C9EEA;
        &[data-direct='left'] {
          text-align: right;
        }
        &[data-direct='right'] {
          text-align: left;
        }
      }
    }
    .dateTime {
      margin-top: 5px;
      font-size: 12px;
      font-weight: 600;
    }
  }
  
  .team {
    flex: 1;
    font-size: 14px;
    font-weight: 600;
    @include ellipse();
    &[data-direct='right'] {
      text-align: right;
    }
  }
}

.sub {
  position: sticky;
  padding-top: 10px;
  overflow: hidden;
  background-color: $bg-color;
  box-shadow: 0px 1px 8px 0px rgb(0 0 0 / 10%);
  z-index: 1;
  .block {
    width: 100%;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    overflow: auto;
    padding: 0 5px;
    > div {
      margin: 0 5px;
      height: 22px;
      line-height: 22px;
      border-radius: 14px;
      padding: 0 7px;
      font-size: 14px;
      color: #333;
      flex-shrink: 0;
      &.active {
        background-color: #4C9EEA;
        color: #fff;
      }
    }
    &::after {
      content: '';
      display: block;
      width: 10px;
      flex-shrink: 0;
      height: 100%;
    }
  }
}
